/* Grid beállítás (dinamikus oszlopok később JS-ből is állítható) */
#game {
    width: 400px;
    height: 400px;
    border: 2px solid black;

    display: grid;
}

/* Egy cella kinézete */
.cell {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Játékos megjelenítés */
.player {
    background-color: lightblue;
}