/* Grid beállítás (dinamikus oszlopok később JS-ből is állítható) */
#game {
    width: 600px;
    height: 600px;
    border: 2px solid black;

    display: grid;
}

/* Egy cella kinézete */
.cell {
    border: 1px solid #ccc;

    display: flex;
    justify-content: center;
    align-items: center;

    /* 🔹 EZ A LÉNYEG */
    aspect-ratio: 1 / 1;

    /* 🔹 NE tudjon nőni */
    overflow: hidden;
}

/* Játékos megjelenítés */
.player {
    background-color: lightblue;
}